<launch>

  <!--decide whether you want to perform fft on audio data-->
  <arg name="plot" default="true"/>

  <node name="hark_init" pkg="hark_audio_proc" type="harkAudioNetwork.n" output="screen">
  </node>

  <group if="$(arg plot)">
    <node name="FFTthrottle" pkg="topic_tools" type="throttle"
     args="messages /HarkFFT 50 /HarkFFT_throttle/">
    </node>
    <node name="WaveThrottle" pkg="topic_tools" type="throttle"
     args="messages /HarkWave 50 /HarkWave_throttle/">
    </node>
    <node name="audio_plot" pkg="hark_audio_proc" type="HarkAudio_plot.py" output="screen">
    </node>
  </group>
</launch>

