<launch>

  <!--display available sound cards with arecord -l. Then specify device (e.g. 'hw:0,0'). If no device is specified, the driver will choose one. -->
  <arg name="device" default=""/>
  <arg name="channels" default="1"/>
  <arg name="sample_rate" default="48000"/>
  <arg name="depth" default="32"/>

  <!--decide whether you want to perform fft on audio data-->
  <arg name="plot" default="true"/>

  <include file="$(find audio_capture)/launch/capture_wave.launch">
    <arg name="device" value="$(arg device)"/>
    <arg name="channels" value="$(arg channels)"/>
    <arg name="sample_rate" value="$(arg sample_rate)"/>
    <arg name="depth" value="$(arg depth)"/>
  </include>  


  <node name="audio_fft" pkg="audio_proc" type="audio_fft.py" output="screen">
  </node>


  <group if="$(arg plot)">
    <node name="throttle" pkg="topic_tools" type="throttle"
     args="messages /fftData 30 /fftData_throttle/">
    </node>
    <node name="audio_plot" pkg="audio_proc" type="audio_plot.py" output="screen">
      <param name="sample_rate" value="$(arg sample_rate)"/>
    </node>
  </group>


</launch>
